@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.passwordEnter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
}
.reject,
.confirm {
  padding: 5px;
  @include wh(45%, auto);
  border-radius: 5px;
  background: white;
  border: 1px solid $clr-gray-main;
  transition: 0.1s;
  font-size: 18px;
}
.reject {
  @media (min-width: $size-laptop) {
    &:hover {
      color: red;
      border: 1px solid red;
    }
  }
}
.confirm {
  @media (min-width: $size-laptop) {
    &:hover {
      color: green;
      border: 1px solid green;
    }
  }
}
.input {
  margin-bottom: 15px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid $clr-gray-main;
  border-radius: 5px;
}
.manageButtons {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
}
