@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";
.notification {
  color: black;
  border-radius: 5px;
  min-height: 60px;
  padding: 10px 5px 10px 30px;
  border: 1px solid $clr-gray-main;
  position: relative;
  overflow: hidden;
  font-size: 18px;
  width: fit-content;
  line-height: 120%;
  background: white;
  &:nth-last-of-type(n + 2) {
    margin-bottom: 10px;
  }
  &Text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  @media (max-width: $size-phone-l) {
    font-size: 16px;
  }
  &Type {
    width: 20px;
    height: 100%;
    position: absolute;
    border-right: 1px solid black;
    left: 0;
    top: 0;
    &.danger {
      background: #ff6347;
    }
    &.error {
      background: rgb(194, 0, 0);
    }
    &.success {
      background: green;
    }
    &.info {
      background: rgb(60, 60, 202);
    }
  }
}
