@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.post {
  @include wh(100%, 60px);
  background: white;
  color: white;
  border: 2px solid $clr-gray-main;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  &:nth-of-type(n + 1) {
    margin-bottom: 10px;
  }
  @media (min-width: $size-laptop) {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      .title {
        color: $clr-orange;
      }
      border-color: $clr-orange;
    }
  }
  @media (max-width: $size-phone-l) {
    height: auto;
  }
  &.small {
    .textWrapper {
      width: 100%;
    }
  }
}
.outer {
  @include allwh(100%, 100%);
  display: block;
}
.content {
  @include allwh(100%, 100%);
  display: flex;
  align-items: center;
}
.title {
  transition: 0.2s;
  font-weight: 600;
  font-size: 16px;
  overflow-wrap: break-word;
}
.textWrapper {
  background: white;
  color: black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 80%;
  @media (max-width: $size-phone-l) {
    width: 70%;
  }
}
.date {
  &:first-of-type {
    margin-right: 5px;
  }

  &Title {
    color: white;
  }
}

.info {
  margin-top: auto;
  color: black;
  font-size: 13px;
  z-index: 3;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  @media (max-width: $size-phone-l) {
    margin-top: 5px;
  }
}
.image {
  overflow: hidden;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  &Wrapper {
    overflow: hidden;
    position: relative;
    @include flex();
    width: 20%;
    height: 100%;
    @media (max-width: $size-phone-l) {
      width: 30%;
    }
  }
}
