@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.profile {
  width: 100%;
}

.imageWrapper {
  align-self: center;
  @include wh(200px, 200px);
  margin-bottom: 20px;
}
.outer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  @media (max-width: $size-ipad) {
    flex-direction: column;
  }
}
.username {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.infoField {
  &:nth-last-of-type(n + 2) {
    margin-bottom: 10px;
  }
  &Title {
    font-weight: 600;
  }
}
.createdAt {
}
.posts {
}
