@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.post {
  width: 100%;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
}
.main {
  @include flex($direction: column, $align: flex-start);
  width: 100%;
  margin-bottom: 15px;
  height: 500px;
  position: relative;
  color: white;
  &.default {
    color: black;
    height: auto;
    padding: 10px;
    .creator {
      border-color: black;
    }
  }
  @media (max-width: $size-ipad) {
    height: 700px;
  }
}
.wrapper {
  width: 100%;
}
.creator {
  padding-bottom: 2px;
  border-bottom: 2px solid white;
  font-size: 20px;
}
.managePost {
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  z-index: 1;
}
.edit,
.remove {
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 18px;
  z-index: 1;
  @include flex();
  border-radius: 3px;
  width: 120px;
  height: 30px;

  @media (max-width: $size-laptop) {
    position: static;
    align-self: flex-end;
  }
}
.edit {
  background: white;
  color: black;
  border: 2px solid $clr-gray-main;

  @media (min-width: $size-laptop) {
    transition: 0.2s;
    &:hover {
      background: $clr-gray-main;
      color: white;
    }
  }
}
.remove {
  background: white;
  color: black;
  border: 2px solid rgb(209, 0, 0);
  @media (min-width: $size-laptop) {
    transition: 0.2s;
    &:hover {
      background: rgb(209, 0, 0);
      color: white;
    }
  }
}
.info {
  @include flex($justify: space-between);
  width: 100%;
  margin-bottom: 30px;
}
.imagesContainer {
  margin-top: 40px;
  @include flex(row, space-between, center, wrap);
  overflow: hidden;
}
.imageWrapper {
  flex-basis: 50%;
  border-radius: 3px;
  padding: 5px;
  overflow: hidden;
  position: relative;
  width: auto;
  @include flex();
  .image {
    max-height: 300px;
    max-width: 100%;
  }
  .link {
    width: fit-content;
    height: 100%;
  }
  @media (max-width: $size-ipad) {
    flex-basis: 100%;
  }
}
.title {
  width: 100%;
  align-self: center;
  font-size: 40px;
  margin-bottom: 30px;
  resize: none;
  text-align: center;
}
.content {
  font-size: 18px;
  line-height: 130%;
  width: 100%;
}
.subtitle {
  font-size: 25px;
  text-align: center;
}

.createdAt {
  font-size: 15px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
  @media (max-width: 1366px) {
    max-width: 100%;
    padding: 10px;
  }
}
.mainContainer {
  width: 100%;
}
.mainBackground {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &Filter {
    position: absolute;
    right: 0;
    top: 0;
    @include wh(100%, 100%);
    background: rgba(black, 0.5);
  }
}
