@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.post {
  width: 100%;
  textarea {
    max-width: 100%;
    resize: vertical;
    width: 100%;
  }
}
.postContent {
  width: 100%;
}
.creator {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}
.removeImage {
  position: absolute;
  top: 10px;
  right: 10px;
  @include wh(80px, 80px);
  border-radius: 50%;
  background: white;
  border: 3px solid black;
  padding: 0;
  cursor: pointer;
}
.edit {
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 18px;
  padding: 4px 15px;
  border: 1px solid $clr-gray-main;
  background: transparent;
  @include flex();
  border-radius: 3px;
  @media (min-width: $size-laptop) {
    transition: 0.2s;
    &:hover {
      background: $clr-gray-main;
      color: white;
    }
  }
}
.main {
  @include flex($direction: column, $align: flex-start);
  width: 100%;
  margin-bottom: 15px;
}
.info {
  @include flex($justify: space-between);
  width: 100%;
  margin-bottom: 30px;
}
.imagesContainer {
  @include flex(column, flex-start, center, nowrap);
  overflow: hidden;
  overflow-x: auto;
}
.imageWrapper {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
  @include flex();
  position: relative;
  width: auto;
  &:nth-of-type(n + 2) {
    margin-top: 10px;
  }
  .image {
    max-width: auto;
    height: 500px;
  }
}
.title {
  width: 100%;
  align-self: center;
  font-size: 40px;
  margin-bottom: 30px;
  resize: none;
  text-align: center;
}
.content {
  font-size: 18px;
  line-height: 120%;
  width: fit-content;
  white-space: break-spaces;
}
.subtitle {
  font-size: 25px;
}
.creator {
  font-size: 20px;
}
.createdAt {
  font-size: 15px;
}
.outer {
  @include flex(column, flex-start, flex-start);
  padding: 10px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
