@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.post {
  width: 100%;
  overflow: hidden;
}
.main {
  @include flex($direction: column, $align: flex-start);
  width: 100%;
  margin-bottom: 15px;
  height: 500px;
  position: relative;
  color: white;
  &.default {
    color: black;
    height: auto;
    padding: 10px;
    .creator {
      border-color: black;
    }
  }
}
.wrapper {
  width: 100%;
}
.creator {
  padding-bottom: 2px;
  border-bottom: 2px solid white;
  font-size: 20px;
}
.removeImage {
  position: absolute;
  top: 10px;
  right: 10px;
  @include wh(80px, 80px);
  border-radius: 50%;
  background: white;
  border: 3px solid black;
  padding: 0;
  cursor: pointer;
}
.edit {
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 18px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  padding: 4px 15px;
  border: 1px solid $clr-gray-main;
  background: transparent;
  @include flex();
  border-radius: 3px;
  background: white;
  color: $clr-gray-main;
  @media (min-width: $size-laptop) {
    transition: 0.2s;
    &:hover {
      background: $clr-gray-main;
      color: white;
      border-color: white;
    }
  }
}

.info {
  @include flex($justify: space-between);
  width: 100%;
  margin-bottom: 30px;
}
.imagesContainer {
  margin-top: 40px;
  @include flex(column, flex-start, center, nowrap);
  overflow: hidden;
}
.imageWrapper {
  border-radius: 3px;
  overflow: hidden;
  @include flex();
  position: relative;
  width: auto;
  &:nth-of-type(n + 2) {
    margin-top: 10px;
  }
  .image {
    max-width: 100%;
    height: auto;
  }
}
.title {
  width: 100%;
  align-self: center;
  font-size: 40px;
  margin-bottom: 30px;
  resize: none;
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
}
.content {
  font-size: 18px;
  line-height: 130%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
}
.subtitle {
  font-size: 25px;
  text-align: center;
}

.createdAt {
  font-size: 15px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}
.mainContainer {
  width: 100%;
}
.mainBackground {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &Filter {
    position: absolute;
    right: 0;
    top: 0;
    @include wh(100%, 100%);
    background: rgba(black, 0.5);
  }
}
