@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";
.signUpForm {
  @include flex();
  padding: 50px 0;
}
.previewWrapper {
  margin: 20px 0;
}
.signUpGoogle {
  padding: 10px;
  border: 1px solid $clr-gray-main;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  @include flex($justify: flex-start);
  width: fit-content;
  font-size: 18px;
  &Icon {
    margin-left: 15px;
    width: 30px;
  }
  span {
    margin-left: 5px;
    font-weight: 600;
  }
  @media (min-width: $size-laptop) {
    transition: 0.1s;
    &:hover {
      background: lighten($clr-gray-main, 10%);
      color: white;
    }
  }
}

.input,
.textarea {
  border-radius: 3px;
  border: 1px solid black;
  height: 50px;
  padding: 3px;
  margin-bottom: 10px;
  font-size: 18px;
}
.form {
  padding: 50px;
  border: 2px solid $clr-gray-3;
  border-radius: 10px;
  width: 700px;
  @include flex(column, flex-start, stretch);
}
.submit {
  @include flex();
  background: $clr-gray-main;
  border: none;
  padding: 15px 0;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
  @media (min-width: $size-laptop) {
    &:hover {
      background: lighten($clr-gray-main, 10%);
    }
  }
}
.textarea {
  resize: vertical;
  min-height: 50px;
}
.input {
  &Info {
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: 500;
  }
  &File {
    border-radius: 3px;
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    margin: 0 0 15px 0;
  }
  &Title {
    margin-bottom: 5px;
    font-size: 25px;
  }
}
.counterWrapper {
  margin-bottom: 10px;
}
.imagePreview {
  &Block {
    width: fit-content;
    position: relative;
    margin-bottom: 10px;
  }
  &Wrapper {
    z-index: 1;
    @include flex();
    margin-bottom: 15px;
    border-radius: 50%;
    overflow: hidden;
    @include flex();
    @include allwh(100px, 100px);
    overflow: hidden;
    border: 2px solid $clr-gray-main;
    position: relative;
  }
}
.removeBtn {
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  @include wh(30px, 30px);
  border: 1px solid black;
  cursor: pointer;
  span {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 2px;
    background: red;
    top: calc(50% - 1px);
    left: 0;
    transform: rotate(135deg);
  }
  span:after {
    pointer-events: none;
    top: 0;
    left: 0;
    background: red;
    transform: rotate(90deg);
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
  }
}
