@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";
.signUpForm {
  @include flex();
  padding: 50px 0;
}
.previewWrapper {
  margin: 20px 0;
}
.signUpGoogle {
  padding: 10px;
  border: 1px solid $clr-gray-main;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  @include flex($justify: flex-start);
  width: fit-content;
  font-size: 18px;
  &Icon {
    margin-left: 15px;
    width: 30px;
  }
  span {
    margin-left: 5px;
    font-weight: 600;
  }
  @media (min-width: $size-laptop) {
    transition: 0.1s;
    &:hover {
      background: lighten($clr-gray-main, 10%);
      color: white;
    }
  }
}
.imagePreview {
  &Wrapper {
    @include flex();
    margin-bottom: 15px;
  }
}
.input,
.textarea {
  border-radius: 3px;
  border: 1px solid black;
  height: 50px;
  padding: 3px;
  margin-bottom: 10px;
  font-size: 18px;
}
.form {
  margin-bottom: 30px;
  padding: 50px;
  border: 2px solid $clr-gray-3;
  border-radius: 10px;
  width: 700px;
  @include flex(column, flex-start, stretch);
}
.submit {
  @include flex();
  background: $clr-gray-main;
  border: none;
  padding: 15px 0;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
  @media (min-width: $size-laptop) {
    &:hover {
      background: lighten($clr-gray-main, 10%);
    }
  }
}
.textarea {
  resize: vertical;
  min-height: 50px;
}
.input {
  &Info {
    margin: 10px 0 5px 0;
    font-size: 14px;
  }
  &File {
    border-radius: 3px;
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    margin: 0 0 15px 0;
  }
  &Title {
    margin-bottom: 5px;
    font-size: 25px;
  }
}
