@import "../styles/mixins.scss";
@import "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
.globalContainer {
  @include flex(column, space-between, flex-start, nowrap);
  min-height: 100vh;
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    cursor: pointer;
  }
  font-family: $font-mont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loaderWrapper {
  @include wh(100vw, 100vh);
  @include flex();
}
