@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.post {
  @include wh(100%, 150px);
  background: white;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  overflow: hidden;
  border: 2px solid $clr-gray-main;
  &.small {
    height: 100px;
    .part {
      width: 100%;
    }
  }
  @media (min-width: $size-laptop) {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      border-color: $clr-orange;
      -webkit-box-shadow: 1px 1px 6px 0px $clr-orange;
      -moz-box-shadow: 1px 1px 6px 0px $clr-orange;
      box-shadow: 1px 1px 6px 0px $clr-orange;
      .title {
        color: $clr-orange;
      }
    }
  }
  @media (max-width: $size-phone-l) {
    height: auto;
    &.small {
      height: auto;
    }
  }
}
.outer {
  @include allwh(100%, 100%);
  overflow-wrap: break-word;
  white-space: normal;
  display: flex;
  @media (max-width: $size-phone-l) {
    flex-direction: column;
  }
}

.date {
  font-size: 13px;
  color: black;
  margin-top: auto;
  text-align: end;
  @media (max-width: $size-phone-l) {
    margin-top: 10px;
  }
}
.title,
.subtitle {
  overflow-wrap: break-word;
  white-space: normal;
}
.subtitle {
  font-size: 12px;
  font-weight: 500;
}
.title {
  transition: 0.2s;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  @media (max-width: $size-phone-l) {
    font-size: 15px;
  }
}
.textWrapper {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.part {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 80%;
  @media (max-width: $size-phone-l) {
    width: 100%;
    min-width: 100%;
  }
}

.image {
  object-fit: cover;
  overflow: hidden;
  z-index: 2;
  min-height: 100%;
  min-width: 100%;
  &Wrapper {
    overflow: hidden;
    height: 100%;
    max-width: 20%;
    min-width: 20%;
    @media (max-width: $size-phone-l) {
      height: 200px;
      max-width: 100%;
      min-width: 100%;
    }
    @media (max-width: $size-phone-s) {
      height: 150px;
    }
    position: relative;
    @include flex();
    &Bg {
      filter: blur(20px);
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}
