@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.post {
  @include wh(calc(calc(100% / 3) - 10px), auto);
  margin-right: 15px;
  background: black;
  color: white;
  margin-bottom: 20px;
  position: relative;
  &:nth-of-type(3n) {
    margin-right: 0;
  }
  @media (min-width: $size-laptop) {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      .title {
        color: red;
      }
      -webkit-box-shadow: 4px 4px 18px 0px black;
      -moz-box-shadow: 4px 4px 18px 0px black;
      box-shadow: 4px 4px 18px 0px black;
    }
  }
}
.subtitle {
  font-size: 15px;
  font-weight: 500;
}
.title {
  transition: 0.2s;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}
.textWrapper {
  margin: 10px;
  padding: 5px;
  background: white;
  color: black;
}
.info {
  color: red;
  font-size: 20px;
  background: rgba(black, 0.6);
  padding: 5px;
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
}
.image {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: 2;

  &Wrapper {
    overflow: hidden;
    padding: 10px;
    height: 200px;
    width: 100%;
    position: relative;
    @include flex();
    &Bg {
      filter: blur(20px);
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}
