@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.footer {
  @include wh(100%, auto);
  @include flex($justify: flex-end);
  padding: 10px;
  border-top: 1px solid $clr-gray-main;
  margin-top: auto;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.developer {
  cursor: pointer;
  font-size: 20px;
  span {
    font-weight: 600;
    border-bottom: 2px solid black;
  }
}
.title {
  font-size: 30px;
  color: black;
}
