@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.footer {
  @include wh(100%, auto);
  @include flex();
  padding: 10px;
  background: rgba(black, 0.4);
}
.title {
  font-size: 30px;
  color: black;
}
