@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.post {
  width: 100%;
  padding: 20px;
}
.info {
  @include flex($justify: space-between);
  width: 100%;
  margin-bottom: 30px;
}
.imageWrapper {
  max-width: 100%;
  margin-top: 35px;
  border: 3px solid black;
  border-radius: 10px;
  @include flex();
  .image {
    max-width: 100%;
    height: auto;
  }
}
.title {
  align-self: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.content {
  font-size: 18px;
  line-height: 120%;
}
.subtitle {
  margin-bottom: 20px;
  font-size: 25px;
}
.creator {
  font-size: 20px;
}
.createdAt {
  font-size: 15px;
}
.outer {
  @include flex(column, flex-start, flex-start);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
