@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";
.imageWrapper {
  @include wh(50px, 50px);
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  @media (min-width: $size-laptop) {
    transition: 0.2s;
    &:hover {
      border-color: $clr-orange;
    }
  }
}
.profile {
  &Content {
    height: fit-content;
    background: transparent;
    @include flex($justify: space-between);
    @include wh(100px, auto);
  }
}
.username {
  font-size: 20px;
}
.logout {
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  @include flex();
  background: transparent;
  padding: 0;
  svg {
    path {
      stroke: black;
    }
    @include wh(100%, 100%);
  }
}
