@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.imageWrapper {
  @include flex();
  border-radius: 50%;
  overflow: hidden;
}
.image {
  user-select: none;
  max-width: none;
  max-height: none;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
  object-fit: cover;
}
